:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.actions {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.error-valid {
  color: red;
  font-size: 12px;
}

mat-form-field{
  margin-bottom: 10px;
}
